/* reset */
/* line 3, ../sass/theCss.scss */
a:hover {
  text-decoration: none;
}

/* line 5, ../sass/theCss.scss */
#wrapper {
  position: relative;
  max-width: 1920px;
  margin: 0 auto;
  background-color: #ffffff;
  min-width: 220px;
}

/* line 12, ../sass/theCss.scss */
svg {
  max-height: 100%;
}

/* line 16, ../sass/theCss.scss */
.canadaMap {
  float: right;
  overflow: hidden;
}

/* line 21, ../sass/theCss.scss */
.usaMap {
  float: right;
  width: 100%;
}

@media screen and (max-width: 240px) {
  /* line 27, ../sass/theCss.scss */
  .canadaMap {
    width: 100%;
    height: 222px;
  }

  /* line 32, ../sass/theCss.scss */
  .usaMap {
    height: 210px;
  }
}
@media screen and (max-width: 320px) and (min-width: 241px) {
  /* line 37, ../sass/theCss.scss */
  .canadaMap {
    width: 100%;
    height: 222px;
  }

  /* line 42, ../sass/theCss.scss */
  .usaMap {
    height: 210px;
  }
}
@media screen and (max-width: 480px) and (min-width: 321px) {
  /* line 47, ../sass/theCss.scss */
  .canadaMap {
    width: 100%;
    height: 222px;
  }

  /* line 52, ../sass/theCss.scss */
  .usaMap {
    height: 210px;
  }
}
@media screen and (max-width: 568px) and (min-width: 481px) {
  /* line 57, ../sass/theCss.scss */
  .canadaMap {
    width: 100%;
    height: 345px;
  }

  /* line 62, ../sass/theCss.scss */
  .usaMap {
    height: 325px;
  }
}
@media screen and (max-width: 685px) and (min-width: 569px) {
  /* line 67, ../sass/theCss.scss */
  .canadaMap {
    width: 100%;
    height: 365px;
  }

  /* line 72, ../sass/theCss.scss */
  .usaMap {
    height: 365px;
  }
}
@media screen and (max-width: 768px) and (min-width: 686px) {
  /* line 77, ../sass/theCss.scss */
  .canadaMap {
    width: 100%;
    height: 500px;
  }

  /* line 82, ../sass/theCss.scss */
  .usaMap {
    height: 420px;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  /* line 87, ../sass/theCss.scss */
  .canadaMap {
    height: 525px;
    width: 100%;
  }

  /* line 92, ../sass/theCss.scss */
  .usaMap {
    height: 430px;
  }
}
@media screen and (max-width: 1280px) and (min-width: 1025px) {
  /* line 97, ../sass/theCss.scss */
  .canadaMap {
    width: 100%;
    height: 705px;
  }

  /* line 102, ../sass/theCss.scss */
  .usaMap {
    height: 575px;
  }
}
@media screen and (max-width: 1600px) and (min-width: 1281px) {
  /* line 107, ../sass/theCss.scss */
  .canadaMap {
    height: 820px;
    width: 100%;
  }

  /* line 112, ../sass/theCss.scss */
  .usaMap {
    height: 647px;
  }
}
@media screen and (min-width: 1601px) {
  /* line 117, ../sass/theCss.scss */
  .canadaMap {
    height: 900px;
    width: 100%;
  }

  /* line 122, ../sass/theCss.scss */
  .usaMap {
    height: 753px;
  }
}
/* line 126, ../sass/theCss.scss */
.tip {
  display: none;
  padding: 1px;
  border: 1px solid #EBECED;
  color: #edeef0;
  font-weight: bold;
  z-index: 1000;
  float: left;
  position: absolute;
  /*gradient color*/
  background: #000;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#656565');
  /* IE6,IE7 */
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#494949', endColorstr='#656565')";
  /* IE8 */
  background: -moz-linear-gradient(top, #494949, #656565);
  /* Firefox */
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#494949), to(#656565));
  word-break: keep-all;
  white-space: nowrap;
}
